{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
        /* Add the following CSS to position the logout link */
        .logout-link {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #26a17d;
            color: rgb(255, 255, 255);
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
        }

        .logout-link:hover {
            background-color: #555;
        }
    </style>
</head>
<body>
    <!-- Logout link at the top right -->
    <a href="{% url 'logout' %}" class="logout-link">Logout</a>
    
    {% block content %}
    {% endblock %}
</body>
</html>
